TOMCAT7_USER="tomcat7"
TOMCAT7_GROUP="tomcat7"
JAVA_HOME="{{ java_home }}"
JAVA_OPTS="{{ java_opts }} {{ gc_options }} {{ log_conf }}"
CATALINA_PID="/var/run/tomcat7.pid"
CATALINA_BASE="/var/lib/tomcat7"
CATALINA_HOME="/usr/share/tomcat7"
CATALINA_OPTS="{{ catalina_opts }}"
JASPER_HOME="/usr/share/tomcat7"
SECURITY_MANAGER="false"
SHUTDOWN_WAIT="30"
SHUTDOWN_VERBOSE="false"
