server {
    server_name www.cayova.com;
    rewrite ^ https://cayova.com$request_uri? permanent;
}

server {
    listen 8181;
    location /elbping {
        echo "elb... pong!";
    }
}

server {
    listen 127.0.0.1:8080;
    server_name localhost;

    location /nginx_status {
        stub_status on;
        access_log /var/log/nginx/access.log;
        allow 127.0.0.1;
        deny all;
    }
}

server {
    if ($allow_visit = no) {
        return 403;
    }

    if ($request_method !~ ^(GET|HEAD|POST|DELETE|PATCH|PUT)$ ) {
        return 405;
    }

    if ($http_user_agent ~ "Jakarta|User-Agent|libwww-perl|lwp-trivial|Snoopy|PHPCrawl|WEP Search|Missigua Locator|ISC Systems iRc" ) {
        return 444;
    }

    listen       80;
    server_name  <%= access_urls %>;

    # Robots.txt stored in puppet, seperate from being part of web deploy
    location /robots.txt {
        root /usr/share/nginx/www;
    }
    location /sitemap.xml {
        root /usr/share/nginx/www;
    }

    # serve dynamic files (grails)
    location / {

        if ($http_x_forwarded_proto != 'https') {
            rewrite ^ https://$host$request_uri? permanent;
        }
        rewrite ^/(?!/api|images|js|css|static|signin|jawr|verify|help|support|pgpkey|opportunities|u\/).+$ / last;

        #set these headers so as Grails can hav knowledge of original request details.
        proxy_set_header x-forwarded-uri $request_uri;
        proxy_set_header x-forwarded-host $host;
        add_header X-FRAME-OPTIONS "allow-from  https://analytics.webtrends.com";
        add_header "X-XSS-Protection" "1; mode=block;";
        add_header "Strict-Transport-Security" "max-age=60000";

        proxy_pass              http://webcluster;
        proxy_connect_timeout 10s;
        proxy_next_upstream error timeout invalid_header http_500;
    }

    location /static {
        proxy_cache cache;
        proxy_cache_key cayova.com$request_uri;
        proxy_cache_valid 200 302 60m;
        proxy_cache_valid 404 1m;

        proxy_pass http://webcluster/static;
    }

    # serve api calls
    location /api {
        #set these headers so as links generated by API server have the correct host/port
        proxy_set_header x-forwarded-host $host;
        #proxy to dearcadh api-server
        proxy_pass         http://apicluster/api;
        access_log         /var/log/nginx/upstream.log upstream_info;
        #proxy_read_timeout 15s;
        proxy_connect_timeout 10s;
        proxy_next_upstream error timeout invalid_header http_500;
    }

    {#location /metrics/api/dashboard {
        proxy_pass      http://metricscluster/dashboard;
        #set these headers so as links generated by API server have the correct host/port
        proxy_set_header x-forwarded-host $host;
    }

    location /agents/bbp {
        proxy_pass      http://metricscluster/agents/bbp;
        #set these headers so as links generated by API server have the correct host/port
        proxy_set_header x-forwarded-host $host;
    }#}

    location /cayovabox {
        proxy_pass https://s3-eu-west-1.amazonaws.com/cayova-box;
    }

    error_page 500 502 503 504 =  @phailwhale;
        location @phailwhale {
        proxy_pass http://fail.cayova.com.s3-website-eu-west-1.amazonaws.com;
    }
}
